/**************
 * GtkInfoBar *
 **************/
infobar {

  $_bg_info_bar: desaturate(invert($selected_bg_color), 30%);
  &.info {$_bg_info_bar: $hint_bg;}
  &.question {$_bg_info_bar: $hint_bg;}
  &.warning {$_bg_info_bar: $warning_color;}
  &.error {$_bg_info_bar: $error_color}
  
  @include relief($_bg_info_bar);

    button {
      // FIXME: extend selection mode buttons
      @include button(normal, $_bg_info_bar);//, $fg_color, none);

      &:hover { @include button(hover, $_bg_info_bar);}//$bg_color, $fg_color, none); }

      &:active,
      &:checked { @include button(active, $_bg_info_bar);}//$bg_color, $fg_color, none); }

      &:disabled { @include button(insensitive,$_bg_info_bar);}//$bg_color,$fg_color,none); }

      
      //&:backdrop, 
      & {
        label, & { color: $fg_color; }
      }
    }

    selection { background-color: darken($bg_color, 10%); }

    *:link { color: $link_color; }
  
}
