/**************
 * GtkInfoBar *
 **************/
@mixin infobar($_bg_info_bar) {
    @include relief($_bg_info_bar);

    button {
      // FIXME: extend selection mode buttons
      @include button(normal, $_bg_info_bar);//, $fg_color, none);

      &:hover { @include button(hover, $_bg_info_bar);}//$bg_color, $fg_color, none); }

      &:active,
      &:checked { @include button(active, $_bg_info_bar);}//$bg_color, $fg_color, none); }

      &:disabled { @include button(insensitive,$_bg_info_bar);}//$bg_color,$fg_color,none); }

      
      //&:backdrop, 
      & {
        label, & { color: $fg_color; }
      }
    }

    selection { background-color: darken($bg_color, 10%); }

    *:link { color: $link_color; }
}

infobar {

  @include infobar(mix($hint_bg, $selected_bg_color, 50%));

  
  &.info {@include infobar(mix($hint_bg, $success_color, 50%));}
  &.question {@include infobar($hint_bg);}
  &.warning {@include infobar($warning_color);}
  &.error {@include infobar(mix($error_color,$bg_color,30%))}
  
  
  
}
