#XfceNotifyWindow {
    
      color: $hint_fg;
      border-radius: $window_radius;
      border-width: $border_width;
      border-style: solid;
      @include relief($hint_bg);
      label {color: $hint_fg}
      label #summary { font-weight: bold; }
      
      button { 
        @include button(osd);
        &:hover {@include button(osd-hover); }
        &:active {@include button(osd-active);}
      }

  }
